# Fichiers systèmes
.DS_Store
Thumbs.db

# Fichiers IDE/éditeurs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dépendances et builds
node_modules/
dist/
build/

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers test
Fiches formations/

# Fichiers db
db.tsv
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers spécifiques à Windows
site.code-workspace 