APP_NAME=OnBoardingClient
FRONTEND_DIR=frontend
BACKEND_DIR=backend
FRONTEND_DISPLAY_NAME=OnBoardingClient
BACKEND_DISPLAY_NAME="Questionnaire Export Compta"
BACKEND_BASE_URL=
API_PREFIX=/api
PORT=3000 